<form id="formNovoFuncionario" method="post" action="/Funcionario/Novo" class="row g-3">
    @Html.AntiForgeryToken()
</form>

<!-- Novo Formulário para Inserção Direta -->
<form method="post" action="/Funcionario/InserirDadosTeste" class="mt-3">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-warning">
        Testar Inserção Direta
    </button>
</form>